<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 
 <mapper namespace="com.sns.comment.CommentDAO">
 	<insert id="insertComment">
 	insert into
 		`comment`
 		(postId, userId, content)
 	values
 		(#{postId}, #{userId}, #{content})
 	</insert>
 	
 	
 	<select id="selectCommentByPostId" resultType="com.sns.comment.Comment">
 	select
 		*
 	from
 		`comment`
 	where 
 		postId = #{postId}
 	order by 
 		`createdAt`
 	desc
 	</select>
 	
 	<select id="selectCommentViewByPostId" resultType="com.sns.comment.CommentView">
 	select
		c.id as id,
		c.postId as postId,
	    c.userId as userId,
	    c.content as content,
	    c.createdAt as createdAt,
	    c.updatedAt as updatedAt,
	    u.loginId as userLoginId,
	    u.name as userName,
	    u.email as userEmail
	from 
		`comment` c
	join
		`user` u
	on c.userId = u.id
	where c.postId = #{postId}
	order by
		c.createdAt desc;
 	
 	</select>
 	
 	<delete id="deleteCommentByPostId">
 	delete from
 		`comment`
 	where
 		`postId` = #{postId}
 	</delete>
 	
 	<delete id="deleteCommentById">
 	delete from
 		`comment`
 	where
 		`id` = #{id}
 	</delete>
 </mapper>