<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.sns.post.PostDAO">
 	<select id="selectAll" resultType="com.sns.post.Post">
 	select
 		*
 	from
 		`post`
 	order by
 		`createdAt`
 	desc
 	</select>
 	
 	<select id="selectById" resultType="com.sns.post.Post">
 	select
 		*
 	from
 		`post`
 	where
 		`id` = #{id}
 	</select>
 	<insert id="insertPost">
 	insert into
 		`post` (userId, content, imagePath)
 	values (
 		#{userId},
 		#{content},
 		#{imagePath}
 	)
 	
 	</insert>
 	
 	<delete id="deletePostById">
 	delete from
 		`post`
 	where
 		id = #{id}
 	</delete>
 </mapper>