<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.sns.user.UserDAO">
 	<select id="selectUserList" resultType="com.sns.user.User">
 	select
 		*
 	from
 		`user`
 	</select>
 	<select id="selectUserByLoginId" resultType="com.sns.user.User">
 	select 
 		*
 	from
 		`user`
 	where 
 		loginId = #{loginId}
 	limit 1
 	
 	</select>
 	<insert id="addUser">
 	insert into `user` (loginId, password, name, email)
 	values (#{loginId} , #{password}, #{name}, #{email})
 	</insert>
 </mapper>
